div.svelte-social a.svelte {
	display: inline-block;
	padding: 7px 9px;
	margin-bottom: 3px;
	background-color: lightgrey;
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	webkit-transition: .5s background ease;
	-moz-transition: .5s  background ease;
	-o-transition: .5s  background ease;
	-ms-transition: .5s  background ease;
	transition: .5s  background ease;
}

div.svelte-social a.svelte::selection {
	background-color: transparent;
}

a.svelte.likes:before {
	content: "\2665  ";
}

a.svelte:hover {
	color: white;
}

a.svelte.facebook:hover {
	background-color: #3b5998;
}

a.svelte.googleplus:hover {
 	background-color: #dd4b39;	
}

a.svelte.twitter:hover {
 	background-color: #55acee;	
}

a.svelte.flattr:hover {
 	background-color: #338d11;	
}

a.svelte.pinterest:hover {
 	background-color: #cc2127;	
}

a.svelte.appnet:hover {
 	background-color: #4a484c;	
}

a.svelte.xing:hover {
 	background-color: #026466;	
}

a.svelte.whatsapp:hover {
 	background-color: #34af23;	
}

a.svelte.likes:hover {
	background-color: #fab313;
}